
*, *::before, *::after {
    box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #F0F9FF;
}

p{
    color: #575757;
    font-size: 1rem;
}

img {
    max-width: 100%;
}

h1 {
	font-family: Nunito, serif;
    font-size: 28px;
	color:  #1A1A1A;
	font-weight: 400;
    margin-top: 40px;
    margin:  1em 0 0.3em 0;
    	
}



h2 {
	
	color: white;
	font-family: Nunito, sans-serif;
	font-weight: 400;
	font-size: 1em;
	margin: 0;
    text-align: center;
}


h3{
	font-family: Nunito, sans-serif;
	font-size: 1em;
	font-weight: 500;
    color: #109AFB;
	padding: 0;
	text-align: center;
	
}


h4 {
	font-family: Nunito, sans-serif;
	font-size: 1.2em;
	font-weight: 600;
    color: #1D1B20;
	padding: 0;
	text-align: center;
}

h5{
	font-size: 20px;
	color: #008C8E;
	font-family: Vazirmatn, sans-serif;
	font-weight: 400;
	margin:0;
	padding-top: 1em;
}

header {
	
    background: #109AFB;
    padding: .7em 0;
	z-index: 999;
    width: 100%; /* Make the header span the full width */
	
}

.container{
    width: 90%;
    margin: 0 auto;
    
}

.inside-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    }

.inside-container-2{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    text-align: start;
}

.row{
    display: grid;
    grid-template-columns: 1fr; /* Initially, set one column */
    gap: 2em; /* Adjust the gap as needed */
    padding: 4em 0;

}

.col{
width: 100%;
height: auto;
background-color: white;
border-radius: 15px;
border-style:solid;
border-width: 1px;
border-color: #c6c6c6;
box-shadow: 0px 1px 2px #8f8b8b;
}

.col.third{
    padding: 2.5em 0 1em 0;
}

/*
.col + .col {
    margin-left: 2em;
}
*/

.icon-1{
    margin-top: 3em;
}


.blue-button {
    display: flex;
    align-items: center; /* Center items vertically */
    position: relative;
    background-color: #109AFB;
    color: white;
    border-style: solid;
    border-color: #109AFB;
    border-radius: 50px;
    padding: 0.5em 1em; /* Adjust padding to make room for the icon */
    width: 10em;
    height: 3em;
    margin: 2em 0;
    overflow: hidden; /* Hide overflow for the absolute position of the icon */
}

.blue-button img {
    margin-right: 0.5em; /* Adjust the margin as needed to create space between the icon and text */
}

.articulo-input{
    box-sizing: border-box; /* Ensure box-sizing property */
    background-color: white ;
    padding: 0.7em;
    width: 100%;
    border-radius: 10px;
    border-style:solid;
    border-color: #C2C2C2;
    border-width: 1px;
    
    
}


.label{
    
    color: #1D1B20 ;
    font-size: 12px ;
    background-color: #F0F9FF;
    border-radius: 10px;
    width: 50px;
    margin-left: 10px;
    margin-top: 0.7em; /* Adjusted margin-top */
    margin-bottom: -0.7em; /* Added margin-bottom */
    position: relative; /* Added position relative */
    z-index: 1; /* Added z-index */
    
}

.label-1{
    position: relative;
}

.gray-p{
    color: #8d8d8d;
}

.green-button{
    background-color: #61B937;
    color: white;
    border-style:solid;
    border-color: #61B937;
    border-radius: 50px;
    padding: 0.5em;
    width: 10em;
    height: 3em;
    margin: 2em 0;
}

.search-bar{
    display: flex;
    align-items: center;
    background-color: #F0F0F0 ;
    padding: 0.7em;
    width: 100%;
    border-radius: 50px;
    
}

.search-icon{
    margin: 0 10px 0 10px;
}

.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white ;
    padding: 0.7em;
    width: 100%;
    border-radius: 10px;
    border-style:solid;
    border-color: #109AFB;
    border-width: 1px;
    margin-bottom: 0.5em;
}




.filter h3 {
    margin: 0;
}

.down-arrow{
    width: 20px;
    height: 20px;
    fill: #109AFB;;
}

.price{
    color: white;
}

.unified-button{
    display: flex;
    width: 100%;
    margin-bottom: 7px;
}

.left-rounded-button {
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #F0F9FF;
    color: #1D1B20;
    padding: 0.5em 1em;
    border: 0.25px solid #05264F;
    cursor: pointer;
    width: 70%; /* Adjust the width directly */
    height: 5em;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.first-line, .second-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-rounded-button span {
    margin-right: 20px;
}


.rigth-rounded-button {
    box-sizing: border-box;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #05264F;
    color: white;
    padding: 0.5em 1em;
    border: 0.25px solid #05264F;
    cursor: pointer;
    width: 30%; /* Adjust the width directly */
    height: 5em;
}









.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 400px;
    text-align: center;
}

.popup img {
    max-width: 100%;
    margin-bottom: 15px;
}

.popup h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.popup p {
    color: #666;
    font-size: 1em;
    margin-bottom: 15px;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 999; /* Ensure the overlay is behind the popup */
}


.popup button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}





/* Responsive styles for smaller screens */
@media (max-width: 1000px) {
    .container {
        width: 90%;
    }

    

    .row {
        flex-direction: column;
        align-items: center;
    }

    .col {
        margin-bottom: 2em;
    }

    .col + .col {
        margin-left: 0;
    }

    .two-columns {
        width: 100%; /* Take up full width */
        display: flex;
        flex-direction: column; /* Change to column layout for smaller screens */
    }

    .col.third {
        width: 100%; /* Set the width of the third column to 100% */
    }
    
}

/*
/* Responsive styles for midium screens */
@media (min-width: 800px) {
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns on top */
        gap: 2em;
    }

    .col {
        margin-bottom: 2em;
        height: 100%;
    }

    .col.third {
        grid-column: span 2; /* Occupies full width within the container */
    }


    .two-columns {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns within the .two-columns div */
        gap: 2em;
    }
}
 


/* Responsive styles for larger screens */
@media (min-width: 1200px) {
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns on top */
        gap: 2em;
    }

    .col {
        margin-bottom: 2em;
    }

    .col.third {
        grid-column: span 2; /* Occupies full width within the container */
    }

    .two-columns {
        width: 100%; /* Take up full width */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /* Two columns within the .two-columns div */
        gap: 2em;
    }
}